.task {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    border:solid;
	border-width: 1px;
	max-width: 32rem;
    border-color: rgb(90, 91, 92);
    border-radius: 12px;
    font-size:1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}